In [1]:
import pandas as pd 
import numpy as np
final = pd.read_csv('final_listings.csv')

In [2]:
sum(final['listing_detail_price'].isna())

21

In [3]:
final.head()

,index,listing_url,zipcode,property_description,Year Built,property_images,Property Condition,listing_detail_price,Dining Room Features,Patio And Porch Features,...,Remodeled/Updated,Open Parking Spaces,# of Units,highlights_text,School District (County),Flooring,Architectural Style,County,Pool,listing_detail_label
0,0,https://www.metrolist.com/search/For_Sale-For_...,94110.0,Tucked behind a Victorian faade under a canopy...,1900.0,['http://sfarmedia.rapmls.com/sfarmls/listingp...,Updated/Remodeled,"$799,000",NaN,Uncovered Patio,...,Yes,0.0,2.0,2 Bedrooms1 BathroomsStatus ActiveCondominiumM...,NaN,"Tile, Concrete",NaN,San Francisco,NaN,"932 Hampshire St #A San Francisco, CA 94110"
1,1,https://www.metrolist.com/search/For_Sale-For_...,94110.0,Tucked behind a Victorian faade under a canopy...,1900.0,['http://sfarmedia.rapmls.com/sfarmls/listingp...,Updated/Remodeled,"$799,000",NaN,Uncovered Patio,...,Yes,0.0,2.0,2 Bedrooms1 BathroomsStatus ActiveCondominiumM...,NaN,"Tile, Concrete",NaN,San Francisco,NaN,"932 Hampshire St #A San Francisco, CA 94110"
2,2,https://www.metrolist.com/search/For_Sale-For_...,94133.0,Residence No. 4 offers a 3-level townhouse-sty...,1988.0,['http://sfarmedia.rapmls.com/sfarmls/listingp...,Updated/Remodeled,"$2,600,000",Formal Area,"Uncovered Patio, Uncovered Deck",...,NaN,0.0,20.0,3 Bedrooms4 BathroomsStatus ActiveCondominiumM...,NaN,"Wood, Tile, Marble, Carpet","Mediterranean, Contemporary",San Francisco,NaN,"186 Francisco St #4 San Francisco, CA 94133"
3,3,https://www.metrolist.com/search/For_Sale-For_...,94133.0,Residence No. 4 offers a 3-level townhouse-sty...,1988.0,['http://sfarmedia.rapmls.com/sfarmls/listingp...,Updated/Remodeled,"$2,600,000",Formal Area,"Uncovered Patio, Uncovered Deck",...,NaN,0.0,20.0,3 Bedrooms4 BathroomsStatus ActiveCondominiumM...,NaN,"Wood, Tile, Marble, Carpet","Mediterranean, Contemporary",San Francisco,NaN,"186 Francisco St #4 San Francisco, CA 94133"
4,4,https://www.metrolist.com/search/For_Sale-For_...,94002.0,A 7-year new townhome nestled in the heart of ...,2017.0,['http://sfarmedia.rapmls.com/sfarmls/listingp...,Original,"$1,180,000",Dining/Family Combo,"Uncovered Patio, Uncovered Deck",...,No,0.0,0.0,2 Bedrooms2 Bathrooms1035 sq ftStatus ActiveTo...,San Mateo,"Wood, Tile, Laminate, Carpet",NaN,San Mateo,No,"2135 Carlmont Dr Belmont, CA 94002"

In [4]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4686 entries, 0 to 4685
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             4686 non-null   int64
 1   listing_url                       4686 non-null   object
 2   zipcode                           4679 non-null   float64
 3   property_description              4627 non-null   object
 4   Year Built                        4254 non-null   float64
 5   property_images                   4686 non-null   object
 6   Property Condition                1695 non-null   object
 7   listing_detail_price              4665 non-null   object
 8   Dining Room Features              2457 non-null   object
 9   Patio And Porch Features          1398 non-null   object
 10  Living Room Features              1356 non-null   object
 11  Window Features                   1051 non-null   object
 12  Bath Features                     2280 non-null   object
 13  Parking Features                  3977 non-null   object
 14  Master Bathroom Features          1523 non-null   object
 15  Master Bedroom Features           1190 non-null   object
 16  Cooling                           2820 non-null   object
 17  Heating                           3843 non-null   object
 18  Laundry Features                  3518 non-null   object
 19  Lot Features                      3111 non-null   object
 20  Interior Features                 1094 non-null   object
 21  Kitchen Features                  2670 non-null   object
 22  Association Features              972 non-null    object
 23  Appliances                        2788 non-null   object
 24  # of Fireplaces                   3716 non-null   float64
 25  mls_number                        3517 non-null   object
 26  Bathrooms                         3732 non-null   float64
 27  Half Bathrooms                    3732 non-null   float64
 28  Full Bathrooms                    3732 non-null   float64
 29  Square Footage                    3956 non-null   float64
 30  # of Rooms                        4033 non-null   float64
 31  Area/District                     1141 non-null   object
 32  listing_detail_monthly_cost       4307 non-null   object
 33  Total Parking Spaces              4254 non-null   float64
 34  Elementary School District        2156 non-null   object
 35  Senior High School District       2119 non-null   object
 36  Middle or Junior School District  1058 non-null   object
 37  Roof                              2850 non-null   object
 38  agent_link                        4374 non-null   object
 39  Listing Agent Name                4686 non-null   object
 40  Listing Office Name               4686 non-null   object
 41  Remodeled/Updated                 1211 non-null   object
 42  Open Parking Spaces               4033 non-null   float64
 43  # of Units                        3716 non-null   float64
 44  highlights_text                   4658 non-null   object
 45  School District (County)          2266 non-null   object
 46  Flooring                          3110 non-null   object
 47  Architectural Style               1691 non-null   object
 48  County                            4686 non-null   object
 49  Pool                              2964 non-null   object
 50  listing_detail_label              4686 non-null   object
dtypes: float64(11), int64(1), object(39)
memory usage: 1.8+ MB

In [5]:

type(final['listing_detail_price'][0])

str

In [6]:
import re
def remove_comma_dollar(text):
    text = str(text)
    cleaned_text = re.sub(r'[,$]','',text)
    return cleaned_text
final['listing_detail_price'] = final['listing_detail_price'].apply(remove_comma_dollar)

In [7]:
sum(final['listing_detail_price']=='For Sale')

434

In [8]:
# Remove the dollar sign and commas, and handle non-numeric entries
final['listing_detail_price'] = final['listing_detail_price'].replace('\$,', '', regex=True)

sum(final['listing_detail_price'].isna())

0

In [9]:
final['listing_detail_price'].head()

0     799000
1     799000
2    2600000
3    2600000
4    1180000
Name: listing_detail_price, dtype: object

In [10]:
final.columns

Index(['index', 'listing_url', 'zipcode', 'property_description', 'Year Built',
       'property_images', 'Property Condition', 'listing_detail_price',
       'Dining Room Features', 'Patio And Porch Features',
       'Living Room Features', 'Window Features', 'Bath Features',
       'Parking Features', 'Master Bathroom Features',
       'Master Bedroom Features', 'Cooling', 'Heating', 'Laundry Features',
       'Lot Features', 'Interior Features', 'Kitchen Features',
       'Association Features', 'Appliances', '# of Fireplaces', 'mls_number',
       'Bathrooms', 'Half Bathrooms', 'Full Bathrooms', 'Square Footage',
       '# of Rooms', 'Area/District', 'listing_detail_monthly_cost',
       'Total Parking Spaces', 'Elementary School District',
       'Senior High School District', 'Middle or Junior School District',
       'Roof', 'agent_link', 'Listing Agent Name', 'Listing Office Name',
       'Remodeled/Updated', 'Open Parking Spaces', '# of Units',
       'highlights_text', 'School District (County)', 'Flooring',
       'Architectural Style', 'County', 'Pool', 'listing_detail_label'],
      dtype='object')

In [11]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4686 entries, 0 to 4685
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             4686 non-null   int64
 1   listing_url                       4686 non-null   object
 2   zipcode                           4679 non-null   float64
 3   property_description              4627 non-null   object
 4   Year Built                        4254 non-null   float64
 5   property_images                   4686 non-null   object
 6   Property Condition                1695 non-null   object
 7   listing_detail_price              4686 non-null   object
 8   Dining Room Features              2457 non-null   object
 9   Patio And Porch Features          1398 non-null   object
 10  Living Room Features              1356 non-null   object
 11  Window Features                   1051 non-null   object
 12  Bath Features                     2280 non-null   object
 13  Parking Features                  3977 non-null   object
 14  Master Bathroom Features          1523 non-null   object
 15  Master Bedroom Features           1190 non-null   object
 16  Cooling                           2820 non-null   object
 17  Heating                           3843 non-null   object
 18  Laundry Features                  3518 non-null   object
 19  Lot Features                      3111 non-null   object
 20  Interior Features                 1094 non-null   object
 21  Kitchen Features                  2670 non-null   object
 22  Association Features              972 non-null    object
 23  Appliances                        2788 non-null   object
 24  # of Fireplaces                   3716 non-null   float64
 25  mls_number                        3517 non-null   object
 26  Bathrooms                         3732 non-null   float64
 27  Half Bathrooms                    3732 non-null   float64
 28  Full Bathrooms                    3732 non-null   float64
 29  Square Footage                    3956 non-null   float64
 30  # of Rooms                        4033 non-null   float64
 31  Area/District                     1141 non-null   object
 32  listing_detail_monthly_cost       4307 non-null   object
 33  Total Parking Spaces              4254 non-null   float64
 34  Elementary School District        2156 non-null   object
 35  Senior High School District       2119 non-null   object
 36  Middle or Junior School District  1058 non-null   object
 37  Roof                              2850 non-null   object
 38  agent_link                        4374 non-null   object
 39  Listing Agent Name                4686 non-null   object
 40  Listing Office Name               4686 non-null   object
 41  Remodeled/Updated                 1211 non-null   object
 42  Open Parking Spaces               4033 non-null   float64
 43  # of Units                        3716 non-null   float64
 44  highlights_text                   4658 non-null   object
 45  School District (County)          2266 non-null   object
 46  Flooring                          3110 non-null   object
 47  Architectural Style               1691 non-null   object
 48  County                            4686 non-null   object
 49  Pool                              2964 non-null   object
 50  listing_detail_label              4686 non-null   object
dtypes: float64(11), int64(1), object(39)
memory usage: 1.8+ MB

In [12]:
final.describe()

,index,zipcode,Year Built,# of Fireplaces,Bathrooms,Half Bathrooms,Full Bathrooms,Square Footage,# of Rooms,Total Parking Spaces,Open Parking Spaces,# of Units
count,4686.000000,4679.000000,4254.000000,3716.000000,3732.000000,3732.000000,3732.000000,3956.000000,4033.000000,4254.000000,4033.000000,3716.000000
mean,2347.623986,91164.804873,1851.127174,0.669268,2.438907,0.319668,2.119239,1933.187816,1.578230,2.923601,0.309199,7.400431
std,1357.514045,15850.927112,470.436908,0.727933,1.161920,0.492135,0.978726,1752.794697,3.907397,14.496829,1.253510,44.248278
min,0.000000,10030.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000,0.000000,0.000000
25%,1171.250000,94301.000000,1946.000000,0.000000,2.000000,0.000000,2.000000,1135.750000,0.000000,0.000000,0.000000,0.000000
50%,2346.500000,94590.000000,1971.000000,1.000000,2.000000,0.000000,2.000000,1583.000000,0.000000,2.000000,0.000000,0.000000
75%,3521.750000,95124.000000,1991.000000,1.000000,3.000000,1.000000,2.000000,2239.250000,0.000000,3.000000,0.000000,0.000000
max,4708.000000,95946.000000,2024.000000,6.000000,12.000000,4.000000,12.000000,30900.000000,40.000000,500.000000,20.000000,704.000000

In [13]:
final['Year Built'].unique()

array([1900., 1988., 2017., 1923., 1962., 1955., 2024., 1983., 1975.,
       1914., 1973., 1953., 1980., 1930., 1951., 1947., 1992., 1999.,
       1952., 1906., 2004., 1965., 1928.,    0., 2002., 1959., 1979.,
       1935., 1940., 1971., 1915., 1990., 1929., 1924., 2016., 1890.,
         nan, 1941., 1945., 2012., 1946., 1974., 1917., 1996., 2019.,
       2018., 1922., 1925., 1956., 1949., 1910., 1944., 2023., 1964.,
       1927., 2008., 1950., 2020., 1903., 1993., 1943., 1931., 1960.,
       1972., 1907., 2003., 1963., 1911., 1970., 1912., 1936., 1978.,
       2000., 1938., 1966., 1984., 1918., 2007., 1909., 1919., 1977.,
       1985., 1948., 1913., 1905., 1958., 1969., 1986., 1926., 1937.,
       2022., 1968., 1957., 2013., 2005., 2009., 1981., 1987., 1933.,
       1967., 1954., 1994., 1982., 1997., 1904., 1939., 1875., 2006.,
       1916., 2015., 2014., 1908., 1961., 1942., 2001., 1989., 1921.,
       1976., 1995., 1920., 1895., 1883., 2011., 2021., 1998., 2010.,
       1991., 1901., 1882., 1932., 1934., 1902., 1860.])

In [14]:

# Convert the 'Year Built' column to string
final['Year Built'] = final['Year Built'].astype(str)

# Replace '0.0' and 'nan' with 'NA'
final['Year Built'] = final['Year Built'].replace({'0.0': 'NA', 'nan': 'NA'})

In [15]:
sum(final['Year Built'] == 'NA')

689

In [16]:
final['Year Built'].unique()

array(['1900.0', '1988.0', '2017.0', '1923.0', '1962.0', '1955.0',
       '2024.0', '1983.0', '1975.0', '1914.0', '1973.0', '1953.0',
       '1980.0', '1930.0', '1951.0', '1947.0', '1992.0', '1999.0',
       '1952.0', '1906.0', '2004.0', '1965.0', '1928.0', 'NA', '2002.0',
       '1959.0', '1979.0', '1935.0', '1940.0', '1971.0', '1915.0',
       '1990.0', '1929.0', '1924.0', '2016.0', '1890.0', '1941.0',
       '1945.0', '2012.0', '1946.0', '1974.0', '1917.0', '1996.0',
       '2019.0', '2018.0', '1922.0', '1925.0', '1956.0', '1949.0',
       '1910.0', '1944.0', '2023.0', '1964.0', '1927.0', '2008.0',
       '1950.0', '2020.0', '1903.0', '1993.0', '1943.0', '1931.0',
       '1960.0', '1972.0', '1907.0', '2003.0', '1963.0', '1911.0',
       '1970.0', '1912.0', '1936.0', '1978.0', '2000.0', '1938.0',
       '1966.0', '1984.0', '1918.0', '2007.0', '1909.0', '1919.0',
       '1977.0', '1985.0', '1948.0', '1913.0', '1905.0', '1958.0',
       '1969.0', '1986.0', '1926.0', '1937.0', '2022.0', '1968.0',
       '1957.0', '2013.0', '2005.0', '2009.0', '1981.0', '1987.0',
       '1933.0', '1967.0', '1954.0', '1994.0', '1982.0', '1997.0',
       '1904.0', '1939.0', '1875.0', '2006.0', '1916.0', '2015.0',
       '2014.0', '1908.0', '1961.0', '1942.0', '2001.0', '1989.0',
       '1921.0', '1976.0', '1995.0', '1920.0', '1895.0', '1883.0',
       '2011.0', '2021.0', '1998.0', '2010.0', '1991.0', '1901.0',
       '1882.0', '1932.0', '1934.0', '1902.0', '1860.0'], dtype=object)

In [17]:
def remove(text):
    text = str(text)
    text = re.sub(r'\.0$', '', text)
    return text

In [18]:
final['Year Built']= final['Year Built'].apply(remove)

In [ ]:
final['Year Built'].unique()

In [ ]:
final['zipcode'].unique()

In [21]:
def remove2(text):
    text = str(text)
    text = re.sub(r'\.0$', '', text)
    return text

final['zipcode'] = final['zipcode'].replace({'nan': 'NA'})

In [22]:
final['zipcode'] = final['zipcode'].apply(remove2)

In [ ]:
final['zipcode'].unique()

In [24]:
len(final.columns)

51

In [ ]:
final.fillna('NA')

In [26]:
final['listing_url'][4682]

'https://www.metrolist.com/search/For_Sale-For_Rent/Map%20Location/id_382-560693054/map_9qc6tuh0e;9qcvp1yn5'

In [ ]:
final[['listing_url','listing_detail_price','listing_detail_label']]

In [28]:
filtered_df = final[final['listing_detail_price'] == 'For Sale'][['listing_url', 'listing_detail_price', 'listing_detail_label']]

In [29]:
final = final[final['listing_detail_price'] != 'For Sale'].reset_index(drop=True)

In [30]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4252 entries, 0 to 4251
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             4252 non-null   int64
 1   listing_url                       4252 non-null   object
 2   zipcode                           4252 non-null   object
 3   property_description              4196 non-null   object
 4   Year Built                        4252 non-null   object
 5   property_images                   4252 non-null   object
 6   Property Condition                1547 non-null   object
 7   listing_detail_price              4252 non-null   object
 8   Dining Room Features              2136 non-null   object
 9   Patio And Porch Features          1256 non-null   object
 10  Living Room Features              1052 non-null   object
 11  Window Features                   911 non-null    object
 12  Bath Features                     1953 non-null   object
 13  Parking Features                  3578 non-null   object
 14  Master Bathroom Features          1333 non-null   object
 15  Master Bedroom Features           1033 non-null   object
 16  Cooling                           2458 non-null   object
 17  Heating                           3445 non-null   object
 18  Laundry Features                  3129 non-null   object
 19  Lot Features                      2708 non-null   object
 20  Interior Features                 1012 non-null   object
 21  Kitchen Features                  2345 non-null   object
 22  Association Features              864 non-null    object
 23  Appliances                        2520 non-null   object
 24  # of Fireplaces                   3335 non-null   float64
 25  mls_number                        3099 non-null   object
 26  Bathrooms                         3351 non-null   float64
 27  Half Bathrooms                    3351 non-null   float64
 28  Full Bathrooms                    3351 non-null   float64
 29  Square Footage                    3565 non-null   float64
 30  # of Rooms                        3636 non-null   float64
 31  Area/District                     1132 non-null   object
 32  listing_detail_monthly_cost       3955 non-null   object
 33  Total Parking Spaces              3847 non-null   float64
 34  Elementary School District        1833 non-null   object
 35  Senior High School District       1800 non-null   object
 36  Middle or Junior School District  744 non-null    object
 37  Roof                              2506 non-null   object
 38  agent_link                        4055 non-null   object
 39  Listing Agent Name                4252 non-null   object
 40  Listing Office Name               4252 non-null   object
 41  Remodeled/Updated                 930 non-null    object
 42  Open Parking Spaces               3636 non-null   float64
 43  # of Units                        3335 non-null   float64
 44  highlights_text                   4231 non-null   object
 45  School District (County)          1938 non-null   object
 46  Flooring                          2744 non-null   object
 47  Architectural Style               1508 non-null   object
 48  County                            4252 non-null   object
 49  Pool                              2613 non-null   object
 50  listing_detail_label              4252 non-null   object
dtypes: float64(9), int64(1), object(41)
memory usage: 1.7+ MB

In [31]:
type(final['Window Features'].unique()[0])

float

In [32]:
final['Window Features'].unique()[0]

nan

In [33]:
final = final.where(pd.notnull(final), None)
final = final.map(lambda x: None if x==np.nan else x)

In [34]:
type(final['Window Features'].unique()[0])

NoneType

In [35]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4252 entries, 0 to 4251
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             4252 non-null   int64
 1   listing_url                       4252 non-null   object
 2   zipcode                           4252 non-null   object
 3   property_description              4196 non-null   object
 4   Year Built                        4252 non-null   object
 5   property_images                   4252 non-null   object
 6   Property Condition                1547 non-null   object
 7   listing_detail_price              4252 non-null   object
 8   Dining Room Features              2136 non-null   object
 9   Patio And Porch Features          1256 non-null   object
 10  Living Room Features              1052 non-null   object
 11  Window Features                   911 non-null    object
 12  Bath Features                     1953 non-null   object
 13  Parking Features                  3578 non-null   object
 14  Master Bathroom Features          1333 non-null   object
 15  Master Bedroom Features           1033 non-null   object
 16  Cooling                           2458 non-null   object
 17  Heating                           3445 non-null   object
 18  Laundry Features                  3129 non-null   object
 19  Lot Features                      2708 non-null   object
 20  Interior Features                 1012 non-null   object
 21  Kitchen Features                  2345 non-null   object
 22  Association Features              864 non-null    object
 23  Appliances                        2520 non-null   object
 24  # of Fireplaces                   3335 non-null   float64
 25  mls_number                        3099 non-null   object
 26  Bathrooms                         3351 non-null   float64
 27  Half Bathrooms                    3351 non-null   float64
 28  Full Bathrooms                    3351 non-null   float64
 29  Square Footage                    3565 non-null   float64
 30  # of Rooms                        3636 non-null   float64
 31  Area/District                     1132 non-null   object
 32  listing_detail_monthly_cost       3955 non-null   object
 33  Total Parking Spaces              3847 non-null   float64
 34  Elementary School District        1833 non-null   object
 35  Senior High School District       1800 non-null   object
 36  Middle or Junior School District  744 non-null    object
 37  Roof                              2506 non-null   object
 38  agent_link                        4055 non-null   object
 39  Listing Agent Name                4252 non-null   object
 40  Listing Office Name               4252 non-null   object
 41  Remodeled/Updated                 930 non-null    object
 42  Open Parking Spaces               3636 non-null   float64
 43  # of Units                        3335 non-null   float64
 44  highlights_text                   4231 non-null   object
 45  School District (County)          1938 non-null   object
 46  Flooring                          2744 non-null   object
 47  Architectural Style               1508 non-null   object
 48  County                            4252 non-null   object
 49  Pool                              2613 non-null   object
 50  listing_detail_label              4252 non-null   object
dtypes: float64(9), int64(1), object(41)
memory usage: 1.7+ MB

In [36]:
import os
from dotenv import load_dotenv
load_dotenv()
aws_access_key_id = os.getenv('AWS_ACCESS_KEY')
aws_secret_access_key = os.getenv('AWS_SECRET_KEY')

In [37]:
import boto3
client = boto3.client('dynamodb', region_name='us-west-1', aws_access_key_id = aws_access_key_id, aws_secret_access_key = aws_secret_access_key)

In [38]:
print(client)

<botocore.client.DynamoDB object at 0x0000018832A65410>

In [39]:
type(final['property_images'][0])

str

In [40]:
final['property_images'][0]

"['http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/a903ec93-faa9-42c3-a28d-9084dab4bb8d.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/11f6137a-5f1d-499f-a09c-577f64e01f06.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/9afd70d4-847d-4452-abf8-0d8a8f3e38cf.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/60605317-3851-4560-b1b9-ac99be3be121.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/8975ff61-e056-45eb-8ce9-bcc86ba5e361.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/2a27557e-cc33-4c5c-9110-c5328c5c158c.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/53b3b085-c85d-4ddb-b1f5-bca49f3e759f.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/3b5a3ae0-3c73-43e4-8e20-476f20e5a9f6.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/a86f671f-239e-4747-9e3f-748108db87b2.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/e556d8bc-73d6-49d8-818c-b2fb89986ba1.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/e22b0927-77fd-4e7c-a6f5-36372dd6560b.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/1a27bf03-9a02-46a9-9cf9-2e1bf95c866d.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/4acf10e0-da37-443e-b3db-0a102f22279e.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/9f275550-dd07-4bc4-a2e6-76b53bafc32b.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/7cf1c1df-dd32-48f1-acb5-084f6d79c657.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/9b253fa7-e769-4933-ad81-9a78ef19c445.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/ac2b904f-2f47-48a7-b7b8-dff9c7e2c237.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/9c994777-13b6-47db-95a3-ea429bce6916.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/2ee74514-0094-4633-89ae-a340eaaf3208.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/8fb64736-ef27-49fd-99f5-1f08ec8a9a8a.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/71cf5488-8ac2-402b-90c9-88be0c2b3a62.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/510f3611-f099-424d-afcb-acaa2f877806.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/4ca96af4-f086-41e9-bc24-4d3bed45bb5e.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/fbe75501-6a62-428e-a08a-560ea761e467.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/2932a278-602f-4201-9761-9d6638344e9a.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/af412744-5dd1-4ba6-8a17-46773eb80fa5.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/19bc7c29-4c8e-454c-963d-ea20d2e09348.jpg', 'http://sfarmedia.rapmls.com/sfarmls/listingpics/bigphoto/2024/07/11/f70d5981-8459-40aa-9bc8-d8bf589f39a2.jpg']"

In [41]:
final['property_images'] = final['property_images'].apply(lambda x : x.replace("'","").replace("[","").replace("]","").split(','))

In [42]:
# rank default 1
# num_views default 0
# num_clicks: default 0

final['rank'] = [int(1) for _ in range(len(final))]
final['num_views'] = [int(0) for _ in range(len(final))]
final['num_clicks'] = [int(0) for _ in range(len(final))]

In [43]:
print(final['rank'].head())
print(final['num_views'].head())
print(final['num_clicks'].head())

0    1
1    1
2    1
3    1
4    1
Name: rank, dtype: int64
0    0
1    0
2    0
3    0
4    0
Name: num_views, dtype: int64
0    0
1    0
2    0
3    0
4    0
Name: num_clicks, dtype: int64

In [44]:
# rename the columns
def normalize_columns(df: pd.DataFrame) -> pd.DataFrame:
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

In [45]:
final = normalize_columns(final)
final.drop('index',axis=1,inplace=True)

In [46]:
final['listings_detail_label'] = final['listing_detail_label']
final.drop('listing_detail_label',axis = 1,inplace=True)

In [47]:
def convert_to_dynamodb_item(row):
    item = {}
    for key, value in row.items():
        
        if isinstance(value, int):
            item[key] = {'N': str(value)}
        elif isinstance(value, float):
            item[key] = {'N': str(value)}
        elif isinstance(value, bool):
            item[key] = {'BOOL': value}
        elif key == 'property_images':
            item[key] = {'SS': list(set(value))}
        else:
            item[key] = {'S': str(value)}

    return item

In [48]:
dynamodb_items = final.apply(convert_to_dynamodb_item, axis=1).tolist()

In [49]:
type(dynamodb_items)

list

In [ ]:
dynamodb_items

In [51]:
final.columns

Index(['listing_url', 'zipcode', 'property_description', 'year_built',
       'property_images', 'property_condition', 'listing_detail_price',
       'dining_room_features', 'patio_and_porch_features',
       'living_room_features', 'window_features', 'bath_features',
       'parking_features', 'master_bathroom_features',
       'master_bedroom_features', 'cooling', 'heating', 'laundry_features',
       'lot_features', 'interior_features', 'kitchen_features',
       'association_features', 'appliances', '#_of_fireplaces', 'mls_number',
       'bathrooms', 'half_bathrooms', 'full_bathrooms', 'square_footage',
       '#_of_rooms', 'area/district', 'listing_detail_monthly_cost',
       'total_parking_spaces', 'elementary_school_district',
       'senior_high_school_district', 'middle_or_junior_school_district',
       'roof', 'agent_link', 'listing_agent_name', 'listing_office_name',
       'remodeled/updated', 'open_parking_spaces', '#_of_units',
       'highlights_text', 'school_district_(county)', 'flooring',
       'architectural_style', 'county', 'pool', 'rank', 'num_views',
       'num_clicks', 'listings_detail_label'],
      dtype='object')

In [52]:
dynamodb_items[0]['listings_detail_label']

{'S': '932 Hampshire St #A San Francisco, CA 94110'}

In [53]:
def convert_nan_to_none(dynamodb_items):
    def convert_item(item):
        for key, value in item.items():
            if 'N' in value and value['N'] == 'nan':
                item[key] = {'N': '-1'}
        return item

    return [convert_item(item) for item in dynamodb_items]

In [54]:
dynamodb_items = convert_nan_to_none(dynamodb_items=dynamodb_items)

In [ ]:
dynamodb_items[20]

In [56]:
# rank default 1
# num_views default 0
# num_clicks: default 0

In [57]:
from botocore.exceptions import ClientError
def add_item_with_duplicate_check(table_name, item):
    try:
        response = client.put_item(
            TableName=table_name,
            Item=item,
            ConditionExpression="attribute_not_exists(PrimaryKeyName)"  # Replace 'PrimaryKeyName' with your primary key's name
        )
        return response
    except ClientError as e:
        if e.response['Error']['Code'] == 'ConditionalCheckFailedException':
            print(f"Duplicate item skipped: {item}")
        else:
            print(f"Error occurred: {e}")
        return None

In [ ]:
for item in dynamodb_items:
    print(f"Processing item: {item}")
    response = add_item_with_duplicate_check("dre_listings", item)
    if response:
        print("Item added successfully.")
    else:
        print("Item not added.")